
<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<title>JOLC</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flexslider.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css' ) }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='codemirror/lib/codemirror.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='codemirror/theme/twilight.css') }}">
<link rel="icon" type="image/x-icon" href="{{url_for('static',filename='assets/img/golang.ico')}}">
</head>
<body class="frontpage" style="background-color:#F3F3F3;">
	<script src="{{ url_for('static',filename='codemirror/lib/codemirror.js') }}"></script>
<!-- Header================================================== -->
<form action="#" method="POST">
<header>
<div id="mega-menu" class="header header2 header-sticky primary-menu icons-no default-skin zoomIn align-right" style="background-color:#F3F3F3;">
	<div style="float:left; padding-top: 2px;">
		<img src="https://i.ibb.co/NxXBJLh/golang.png" alt="" height="70px" width="70px" object-fit= cover; style="position: relative;">
	</div>
	<nav class="navbar navbar-default redq">
	<div class="container">
		<div class="collapse navbar-collapse" id="navbar">
			<ul id="menu-top-menu" class="nav navbar-nav nav-list">
					<li><a type="submit" href="#" value="interprete" name="submit_button" onclick="document.getElementById('interpretar').click()">Interpretar</a></li>
					<li><a type="submit" href="#" value="interprete" name="submit_button" onclick="document.getElementById('traductor').click()">Traducir</a></li>
					<li><a href="#interprete">Op. Mirilla</a></li>
					<li><a href="#interprete">Op. Bloques</a></li>
					<li><a href="#interprete">Interprete</a></li>
					<li><a type="submit" href="#" value="ast" name="submit_button" onclick="document.getElementById('graficar').click()">Grafica</a></li>
					<li><a href="#tablasimbolo">TS</a></li>
					<li><a href="#tablaerrores">Errores</a></li>
				</ul>
				<div style="display: none;">
					<button type="submit"  value="interprete" name="submit_button" id="interpretar">Interpretar</button>
					<button type="submit" value="ast" name="submit_button" id="graficar">Grafica</button>
					<button type="submit" value="traductor" name="submit_button" id="traductor">Traducir</button>
				</div>
		</div>
	</div>
</nav>
</div>
</header>	
<!-- ============================== ANALYZER ================================================== -->
<section id="interprete" style="padding-top: 5%;" >
			<div style="float: left; padding-left: auto; padding-right: auto; width: 50%; background-color:#141414;">
			<textarea class="codemirror-textarea form-control" name="entrada" id="entrada">{{entry}}</textarea>
			</div>
			<div style="float: right; padding-left: auto; padding-right: auto; width: 50%;">
				<textarea class="codemirror-textarea form-control" name="salida" id="salida">{{resultado}}</textarea>
			</div>
</section>
<!-- ================================== ABOUT =============================================== -->
<section id="home">
	<div class="container" style="float: left; width: 50%; height: 625px; color:#141414; background-image: url(https://i.ibb.co/L60pbFr/juliatogolang.png); background-size: 100%; background-repeat: no-repeat;">
			<h1 style="padding-top: 40%;">
				ORGANIZACIÓN DE LENGUAJES Y COMPILADORES 2<br/>SECCIÓN N
				<br/>KARLA JULISSA AJTÚN VELÁSQUEZ<br/>201700565<br/>
			</h1>															
	</div>
	<div id="graficas" class="whitetext" float: right; width: 50%;" >
		<textarea class="codemirror-textarea form-control" name="grafica" id="grafica">{{graf}}</textarea>
	</div>
</section>
<!-- ================================== ABOUT =============================================== -->
<section id="tablasimbolo">
	<div style="margin-left: auto; margin-right: auto; text-align: center;">
		{{tabla|safe}}
	</div>
</section>
</form>
<!-- ================================== ABOUT =============================================== -->
<section id="tablaerrores">
	<div style="margin-left: auto; margin-right: auto; text-align: center;">
		{{error|safe}}
	</div>
</section>
</form>
<!-- SCRIPTS================================================== -->	
<script src="{{ url_for('static', filename='js/jquery.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js' ) }}"></script>
<script src="{{ url_for('static',filename='codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/mode/julia/julia.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/mode/go/go.js') }}"></script>
<script src="{{ url_for('static',filename='codemirror/mode/ebnf/ebnf.js') }}"></script>
<script src="{{ url_for('static',filename='js/editor_conf.js') }}"></script>
</body>
</html>
